<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="hero-section">
      <h1 class="hero-section-header">
        Fresh Daily<br />
        <%=category%>
      </h1>
    </div>
    <div class="hero-product-section">
      <%for(let items of product){ %>

      <div class="hero-product">
        <h1><%=items.name%></h1>
        <h2>$<%=items.price%></h2>
        <h3 class="category">category : <%=items.category%></h3>
        <a href="/products/<%=items._id%>" class="btn">See More</a>
      </div>

      <% }%>
    </div>

    
  </body>
</html>
